.header-main {
  background-color: var(--background-color);
  box-shadow: 0 3px 6px var(--global-shadow-color);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.header-links-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.header-links-container a {
  text-decoration: none;
  color: var(--text-color);
  transition: all var(--button-transition-timing);
}
.header-links-container a:hover {
  text-decoration: none;
  color: var(--app-primary-color);
}

.header-links-container a.active {
  text-decoration: none;
  color: var(--app-primary-color);
}

.logo-box {
  padding: 0.5rem 1rem;
  background-color: #23232333;
  border-radius: 0.375rem;
  cursor: pointer;
}

.sun-emoji {
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.125rem;
}
