button {
  padding: 0.75rem;
  border-radius: 0.25rem;
  transition: all var(--button-transition-timing);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  gap: 0.25rem;
}

button:disabled,
button.disabled {
  cursor: not-allowed;
}

button.primary-btn {
  color: #ffffff;
  background-color: var(--app-primary-color);
  border: 1px solid var(--app-primary-color);
}

button.primary-btn:hover,
button.primary-btn:active,
button.primary-btn:focus {
  color: #ffffff;
  background-color: var(--app-primary-color-hover);
  border-color: var(--app-primary-color-hover);
}

button.primary-btn:disabled,
button.primary-btn.disabled {
  color: #ffffff;
  background-color: var(--app-primary-color-disabled);
  border-color: var(--app-primary-color-disabled);
}

button.secondary-btn {
  color: var(--app-secondary-color);
  background-color: transparent;
  border: 1px solid var(--app-secondary-color);
}

button.secondary-btn:hover,
button.secondary-btn:active,
button.secondary-btn:focus {
  color: var(--background-color);
  background-color: var(--app-secondary-color-hover);
  border-color: var(--app-secondary-color-hover);
}

button.secondary-btn:disabled,
button.secondary-btn.disabled {
  color: #444444;
  background-color: var(--app-secondary-color-disabled);
  border-color: var(--app-secondary-color-disabled);
}
